.h1-font {
  font-family: 'Montserrat';
  font-size: 1.625rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.23
}

.p-font {
  font-family: 'Montserrat';
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.21;
}

.message-font {
  font-family: 'Montserrat';
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.22;
}

.button-font {
  font-family: 'Montserrat';
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.25;
}

.button-thin-font {
  font-family: 'Montserrat';
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.25;
}

.navigate-font {
  font-family: 'Nunito';
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.39;
}

.input-font {
  font-family: 'Roboto';
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.14;
}

.table-header-font {
  font-family: 'Roboto';
  font-size: 0.6875rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.18;
}

.table-title-font {
  font-family: 'Roboto';
  font-size: 0.8125rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.15;
}

.table-regular-font {
  font-family: 'Roboto';
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.17;
}

.table-medium-font {
  font-family: 'Roboto';
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.17;
}


