/* neutral colors */
$color-neutral-extra-dark: #222222;
$color-neutral-dark: #474747;
$color-neutral-semi-dark: #5C5C5C;
$color-neutral-medium-dark: #7D7D7D;
$color-neutral-medium-light: #999999;
$color-neutral-semi-light: #D1D1D1;
$color-neutral-light: #E5E5E5;
$color-neutral-extra-light: #EBEBEB;

/* alias colors */
$color-site-alias: (
  siteId-1: #E14165,
  siteId-2: #C2C2FF,
  siteId-3: #8686FF
);

/* test-status colors */
$color-test-status: (
  online: #1BDA9D,
  paused: #FF8346,
  stopped: #FE4848,
  draft: $color-neutral-semi-dark
);

/* buttons colors */
$color-button-role: (
  results: #2EE5AC,
  reset: #2EE5AC,
  finalize: $color-neutral-medium-dark
);

/* border radiuses */
$default-border-radius: 3px;
$large-border-radius: 10px;
$extra-large-border-radius: 15px;

/* box shadows */
$default-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);

/* Transitions */
@mixin default-transition($property...) {
  transition-property: $property;
  transition-duration: 0.3s;
  transition-timing-function: ease;
  transition-delay: 0s;
}