@import '../styles/variables.scss';

tbody {
  tr {
    background-color: white;
    height: 70px;
    align-content: center;
    border-radius: $default-border-radius;
    position: relative;
    z-index: 1;
  
    &::before {
      content: '';
      position: absolute;
      width: 4px;
      height: inherit;
      background-color: white;
      border-radius: $default-border-radius 0 0 $default-border-radius;
    }
  
    @each $siteId, $color in $color-site-alias {
      &.#{$siteId}-alias::before {
        background-color: $color;
      }
    }
  
    &:hover {
      box-shadow: $default-box-shadow;
      z-index: 2;
    }
  }
}

td {
  align-self: center;
  padding: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  
  &.table-title-font {
    color: $color-neutral-dark;
  }
  &.table-regular-font {
    color: $color-neutral-semi-dark;
  }
}
